<div class="container">
    <h3>Client List!</h3>
    #if($clients)
        <ul>
            #foreach ($client in $clients)
                <li><p>$client.getName()</p></li>
            #end
        </ul>
    #else
        <p>No client!</p>
    #end
    <br>
    <a href="/clients/new">Add a New client</a>
    <br>
    <a href="/">Home</a>
</div>
