<h2>New Stylist</h2>

<p>Add a Stylist here:</p>

<form action="/stylist" method="post" form-style-2>
  <label for="name"><scan>Stylist name</scan></label>
  <input id="name" name="name" type="text" class=".input-field">
  <button type="submit" class="btn btn-success">Add Stylist</button>
</form>
