
<div class=container>

    <div class="alert alert-success alert-dismissable fade in">
    <h2>Success!</h2><br>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Awesome!</strong> Your Stylist has been saved. Click on the link below to go back.
     </div>
    <a href="/stylists">View all Stylists</a>
    <br>
    <a href="/stylists/new">Add a New Stylist</a>
</div>
