
<div class=container>

    <div class="alert alert-success alert-dismissable fade in">
    <h2>Success!</h2><br>
        <strong>Great!</strong> Your client has been saved to $stylist.getName() clientele Click on the link below to go back.
     </div>
    <a href="/stylists">View all Stylists</a>
    <br>
    <a href="/">Home</a>

</div>
