<div class="container">
    <p>Add a new Stylist:</p>
    <br>
    <form action="/stylists" method="post" class="form-style-2">
      <label for="name"><scan>Stylists name</scan></label>
      <input id="name" name="name" type="text" class=".input-field">
      <button type="submit" class="btn btn-success">Add Stylist</button>
    </form>
</div>
