
<div class=container>

    <div class="alert alert-success alert-dismissable fade in">
    <h2>Success!</h2><br>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Awesome!</strong> Your task has been saved. Click on the link below to go back.
     </div>
    <a href="/clients">View all Clients</a>
    <br>
    <a href="/clients/new">Add a New Client</a>
</div>
